 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
.parent {
    background-color: rgb(158, 185, 211);
    width: 100%;
    height: 300px;
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.child {
    background-color: rgb(40, 144, 148);
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    height: 200px;
    align-self: flex-start;
}
*/

.th {
    background-color: lightgreen;
    height: 150px;
}

.qe {
    height: 75px;
    background-color: red;
    padding: 0px;
}

.qe1 {
    height: 75px;
    background-color: green;
    padding: 0px;
}

.qe2 {
    height: 75px;
    background-color: blue;
}