@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap");
 
#t1 {
    font-size: 16px;
    text-decoration: none;
    text-align: justify;
}

.tab1 a {
    text-decoration: none;
    color: black;
}

.tab1 {
    display: flex;
    justify-content: space-between;
    font-size: 16px; 
    text-align: justify;
}

body {
    background-color: rgb(158, 185, 211);
    font-family: "Red Hat Mono";
    margin-left: 250px;
    margin-right: 250px;
}

.name {
    font-size: 47px;
}

.info {
    font-size: 18px;
}

.lenguage {
    font-size: 16px;
    transform: rotate(-90deg);
    color:aliceblue;
}

.b {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    background-image: url(../tu/tu\ 1.png);
    height: 385px;
    background-size: cover;
}

.aboutme {
    background-color: #B7DCF7;
    text-align: center;
    
}

.tab2 {
    text-align: center;
}

.ap {
    display: flex;
    justify-content: space-between;
}

.st {
    display: flex;
}

.tab3 {
    text-align: center;
}

button {
    width: 199px;
    height: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #070707;
    border-radius: 30%;   
    align-self: center;
    text-decoration: none;
    color:whitesmoke;
}

.img {
    align-content: center;
} 

.end {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: indigo;
}