@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap");

body {
    background: linear-gradient(#6781EB, #67EBE5);
    color:rgb(19, 18,18);
    font-size: 20px;
    font-weight: normal;
    font-family: "Red Hat Mono";
}

h1 {
    font-size: 48px;
    text-align: center;
}

h1:hover {
    color: blanchedalmond;
}

table {
    width: 100%;
    height: 80vh;
    border-collapse: collapse;
    text-align: center;
}

table img {
    width: 70px;
}

th,
td {
    width: 250px;
    height: 100px;
    border: 1px solid black;
}

th {
    font-size: 24px;
    font-weight: bold;
}

th:hover {
    color: blanchedalmond;
}

td:hover {
    width: 260px;
    height: 110px;
    font-size: 20px;
    font-weight: bold;
    color: blanchedalmond;
    background: linear-gradient(#6781EB, #67EBE5);
    border: 2px solid blanchedalmond;
}